<!-- delete-pet-modal.component.html -->

<div class="modal-header">
  <h4 class="modal-title">Delete Pet</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>Are you sure you want to delete this pet?</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="onDelete()">Remove Pet</button>
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
</div>
