<div class = "pet-profie">

  <ul>
    <li *ngFor="let pet of pets">
      <span class="name">{{ pet.name }}</span>
      <span class="breed">{{ pet.breed }}</span>
      <span class="age">{{ pet.age }}</span>
      <span class="weight">{{ pet.weight }}</span>
      <span class="birthday">{{ pet.birthday }}</span>
      <span class="medications">{{ pet.medications }}</span>
      <span class="allergies">{{ pet.allergies }}</span>
      <span class="microchip">{{ pet.microchip }}</span>
      <span class="diagnoses">{{ pet.diagnoses }}</span>
    </li>
  </ul>

</div>
