/* pet-profile.component.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F7F7F2;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pet-profile-container {
  flex: 2;
  margin-right: 20px; /* Add some space between the pet profile and other content */
  width: 100%;
  max-width: 1200px;
  flex-shrink: 0;
  background: #B5BAB6;
  padding: 20px;
  text-align: center;
}

.other-content {
  flex: 1;
}

.pet-details {
  margin-top: 10px;
}

.pet-profile {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pet-profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-profile-image {
  margin-bottom: 10px;
}

.petEmoji {
  font-size: 48px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-color: #f05d23;
  color: #fff;
  display: block; /* Center the emoji */
  margin: 0 auto;
}

.pet-profile-details {
  flex: 1;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.add-pet-button {
  align: center;
}

.petName {
  width: 100%;
  height: 126px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 3px solid #222E50;
  background: #1BB46F;
  font-size: 4vw;
}

.pet-list {
  list-style-type: none; /* Remove bullet points */
}
