<div class="main-content">
  <div class="center-container">
    <div class="rectangle">

      <div class="about-header">About Us</div>


      <div class="section-title">Origin of PETrax</div>
      <p class="about-content">
        At the heart of PETrax is a group of pet enthusiasts who understand the irreplaceable roles pets play in our lives. They aren't just animals; they are family. With this sentiment driving our passion, we developed PETrax – an app dedicated to simplifying the way we care for our beloved pets.
      </p>

      <div class="section-title">What Makes PETrax Special?</div>
      <p class="about-content">
        In a digital world cluttered with applications, PETrax stands out with its unique profile feature. Now, pet owners can view all their pets and upcoming appointments at a glance through our intuitive dashboard. We've taken pet care to the next level, ensuring that every pet detail is just a touch away.
      </p>

      <div class="section-title">Who We Serve</div>
      <p class="about-content">
        PETrax is designed for every pet parent out there, irrespective of their pet's age. Our ultimate aim is to ensure that your pets are cared for in the best way possible.
      </p>

      <div class="section-title">Our Vision</div>
      <p class="about-content">
        While PETrax serves as a personal pet assistant today, we dream of a tomorrow where vets and caregivers can seamlessly integrate and use PETrax to track individual pet health information. We envision a complete ecosystem where professional insights meet personal pet care.
      </p>

      <div class="section-title">Core Values</div>
      <p class="about-content">
        "Teamwork makes the dream work." Our journey has been a testament to this ethos. Every individual in our team brings a unique strength, and together we've paved the way for PETrax to lead in the pet care app industry. Our team includes Tayler Edelen, Jennifer Goldring, Delaney Greenie, Mars Lebeau, and Ryan Scoles – each dedicated to redefining pet care.
      </p>

      <div class="section-title">The Journey So Far</div>
      <p class="about-content">
        PETrax began as a simple idea, but with each brainstorming session and team meet-up, it has metamorphosed into a comprehensive tool. Today, beyond just tracking appointments, it offers detailed insights about pets and connects owners with their preferred care professionals.
      </p>

    </div>
  </div>
</div>

