
  
body {
    font-family: Outfit;
    background-color:  #B5BAB6;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    color: #333;
  }
  
  .faq {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
  }
  
  .faq h2 {
    color: #f05d23;
    margin-bottom: 10px;
  }
  
  .faq p {
    color: #555;
  }
  
  #factElement {
    color: #222E50;
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
  }

  #RandomFact {
    color: #222E50;
    
              
  }
  
  .gcse-search {
    text-align: center;
    margin: 20px;
  }
  