<div class="center-container">
    <div class="rectangle">
        <h1 class="page-title">My Profile</h1>

        <div class="info-container">
            <h2>About Me</h2>
            <div>
                <!-- user info goes here! -->
            </div>
        </div>

        <div class="info-container">
            <h2>My Care Professionals</h2>
            <div>
                
                <app-care-professional class="professional-list"></app-care-professional>
            </div>
            <div>
                <button class="add-button"(click)="navigateToAddProfessional()">Add New Professional</button>
            </div>
        </div>
    </div>
</div>
