body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure both body and html take the full viewport height */
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Let the main content area take all the available space */
    display: flex;
    flex-direction: column;
    align-items: center; /* center items horizontally */
    justify-content: center; /* center items vertically */
}

.center-container {
    width: 100%; /* take full width of its parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Allow it to grow and consume available space */
}

.rectangle {
    width: 800px;
    max-height: 80%;
    background: #B5BAB6;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-btn, .signup-btn {
    width: 150px;                /* Set a fixed width */
    height: 50px;                /* Set a fixed height */
    padding: 10px 20px;
    background-color: #222E50;  /* Blue background */
    border: 2px solid #1BB46F;  /* Green outline */
    color: #F7F7F2;             /* Text color from your earlier code */
    border-radius: 10px;
    font-family: 'Outfit', sans-serif; /* Use Outfit font, fallback to sans-serif */
    cursor: pointer;
    font-size: 20px;
    text-align: center;         /* To make sure text is centered if the buttons have a fixed width */
    display: flex;              /* Flexbox to perfectly center the text */
    justify-content: center;    /* Center the text horizontally */
    align-items: center;        /* Center the text vertically */
}

.intro-text {
    font-size: 18px;
    text-align: center;
    max-width: 90%;  /* to prevent text from stretching too wide */
}

.website-graphic {
  max-width: 90%;  /* to keep the image consistent with your text's width */
  height: auto;   /* maintain aspect ratio */
  margin-bottom: 20px;  /* add some space between the graphic and the text */
}

.footer-graphic {
  max-width: 100%;
  height: auto;
  margin-top: 60px;
  }
