<h1>Frequently Asked Questions about Pets</h1>

<div class="add-pet">
  <app-add-pet></app-add-pet>


  <form action="/petProfile/addNewPet" method="post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br>

  <label for="petType">Pet Type:</label>
  <select id="petType" name="petType">
    <option value="CAT">Cat</option>
    <option value="DOG">Dog</option>
    <option value="BIRD">Bird</option>
    <option value="FISH">Fish</option>
    <option value="REPTILE">Reptile</option>
    <option value="OTHER">Other</option>
  </select><br>

  <label for="breed">Breed:</label>
  <input type="text" id="breed" name="breed"><br>

  <label for="age">Age:</label>
  <input type="number" id="age" name="age"><br>

  <label for="weight">Weight:</label>
  <input type="number" id="weight" name="weight"><br>

  <label for="birthdate">Birthdate:</label>
  <input type="date" id="birthdate" name="birthdate"><br>

  <label for="medication">Medication:</label>
  <input type="text" id="medication" name="medication"><br>

  <label for="allergy">Allergy:</label>
  <input type="text" id="allergy" name="allergy"><br>

  <label for="microchip">Microchip Number:</label>
  <input type="text" id="microchip" name="microchip"><br>

  <label for="diagnoses">Diagnoses:</label>
  <input type="text" id="diagnoses" name="diagnoses"><br>

  <label for="petPic">Photo:</label>
  <input type="file" id="petPic" name="petPic"><br>

  <input type="submit" value="Add New Pet">
</form>

</div>
