body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure both body and html take the full viewport height */
    display: flex;
    flex-direction: column;
}



.main-content {
    flex: 1; /* Let the main content area take all the available space */
    display: flex;
    flex-direction: column;
    align-items: center; /* center items horizontally */
    justify-content: center; /* center items vertically */
}

.center-container {
    width: 100%; /* take full width of its parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Allow it to grow and consume available space */
}
.rectangle {
    width: 800px;
    max-height: 80%;
    background: #B5BAB6;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.welcome {
    background-color: #222E50;
    color: #F7F7F2;
    border: #F05D23 solid;
    border-radius: 5px;
    padding: 15px;
    display: inline-flex;
}
.profile-link { 
    background-color: #1BB46F;
    color:#F7F7F2;
    border: #222E50 solid;
    border-radius: 5px;
    padding: 5px 100px;
}



.events-container {
    width: 700px; 
    height: auto; 
    background: #F7F7F2; 
    border-radius: 5px; 
    border: 2.50px #F05D23 solid
}
.pet-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px; /* Adjust this value for spacing between cards */
}
.pet-card{
    flex: 0 0 calc(33.33% - 20px); 
    color:#222E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:25px;
    margin: 10px; 
    border-radius: 9999px;
    /* border:  solid 2.5px; */
    background: #D9D9D9
}
.pet-info {
    flex: 1;
}
.pet-button{
    margin-top: 10px;
    background-color: #222E50; /* Green */
    border: none;
    border-radius: 5px;
    color: #F7F7F2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.events-header{
    text-align: center;
    padding:5px 5px;
    margin: 0px 100px;
    background-color: #222E50;
    color:#F7F7F2;
    border-radius: 5px;
    border: 2.50px #F05D23 solid
}
.calendar-link {
    text-align: center;
    padding:5px auto;
    margin: 5px 100px;
    background-color: #222E50;
    color:#F7F7F2;
    border-radius: 5px;
    border: 2.50px #F05D23 solid
}
