<div class="center-container">
    <div class="rectangle">
            <div class = "welcome">
                <h1>Welcome, UserName</h1>
            </div>
            <div class="profile-link">
                <h2><a >My Profile</a></h2>
        </div>
      <button *ngIf="isLoggedIn()" (click)="handleLogout()">Logout</button>

    <!-- Diplay Links to pet profiles -->
    <!-- Needs:
    Router links to individual profile for each user
    router link to add new pet page -->
    <div class="pet-card-container">
        <div *ngFor="let pet of pets" class="pet-card">
            <div class="pet-info">
            <h4>{{ pet.petName }}</h4>
            </div>
            <div >
                <button class="pet-button" (click)="openPetDetailModal(pet)">View</button>
            </div>
      </div>
    </div>
    <h4><a  class="pet-card" (click)="openAddPetModal()">Add New Pet!</a></h4>

    <!-- Upcoming Events Section
    Needs:
    List upcoming events for a user within a time frame-- if none say "No events to show"
    Link to Calendar at the bottom of the section -->
    <div class="events-container">
        <div class="events-list-container">
          <h2 class="events-header">Upcoming Events</h2>
          <ul class="event-list">
            <li *ngFor="let event of events">
                <span class="event-date">{{ event.start | date }}</span>
                <span class="event-title">{{ event.title }}</span>
            </li>
          </ul>
        </div>
        <div class="calendar-button-container">
          <button class="calendar-link" (click)="navigateToCalendar()">Go To Calendar</button>
        </div>
      </div>



    </div>
</div>

