<div class="app-container">
  <h1 class="app-heading">Yay!! Our calendar works!!</h1>
  <div class="content-container">
    <div class="calendar-container">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="upcoming-events">
      <div class="event-list-container">
        <h2>Upcoming Events</h2>
        <ul>
          <li *ngFor="let event of upcomingEvents">
            <span class="event-title">{{ event.title }}</span>
            <span class="event-date">{{ event.start | date }}</span>
          </li>
        </ul>
        <button class="add-event-button" (click)="openAddEventModal()">Add Event</button>
      </div>
    </div>
  </div>
</div>
