<!DOCTYPE html>
<html>

<head>
    <title>Add New Pet</title>
    <script>
        function showPopup() {
            alert("NEW PET ADDED");
        }
    </script>
</head>

<body>
    <h1>Add New Pet</h1>
<form action = "/petProfile/addNewPet" method = "post">

    <label for = "name">Pet Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for = "breed">Breed:</label>
    <input type="text" id="breed" name="breed" required><br>

    <label for = "age">Age:</label>
    <input type="text" id="age" name="age" required><br>

    <label for = "weight">Weight:</label>
    <input type="text" id="weight" name="weight" required><br>

    <label for = "birthdate">Birthdate:</label>
    <input type="text" id="birthdate" name="birthdate" required><br>

    <label for = "medication">Medication:</label>
    <input type="text" id="medication" name="medication"><br>

    <label for = "allergy">Allergy:</label>
    <input type="text" id="allergy" name="allergy"><br>

    <label for = "microchip">Microchip Number:</label>
    <input type="text" id="microchip" name="microchip"><br>

    <label for = "diagnoses">Diagnoses:</label>
    <input type="text" id="diagnoses" name="diagnoses"><br>


        <input type="submit" value="Add New Pet" class="btn btn-success" onClick="showPopup()">
</form>
</body>

</html>
