<header class="navbar-container">
  <img src="/assets/logos/PETraxlogonameonly.png" alt="PETrax Logo" class="navbar-logo">

  <div class="menu-items">
    <!-- For the homepage -->
    <a *ngIf="onHomePage" class="navbar-item" routerLink="/about">About</a>

    <!-- For all other pages -->
    <ng-container *ngIf="!onHomePage">
      <div class="mobile-menu">
        <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="toggleMenu()">
          <mat-icon>Menu</mat-icon>
        </button>
        
        <mat-menu #menu="matMenu" [class.menu-open]="isMenuOpen">
          <button mat-menu-item routerLink="/home">Home</button>
          <button mat-menu-item routerLink="/calendar">Calendar</button>
          <button mat-menu-item routerLink="/faq">FAQ</button>
          <button mat-menu-item routerLink="/pet-profile">Pet Profile</button>
          <button mat-menu-item routerLink="/my-profile">My Profile</button>
        </mat-menu>
    </div>

      <a class="navbar-item" routerLink="/home">Home</a>
      <a class="navbar-item" routerLink="/calendar">Calendar</a>
      <a class="navbar-item" routerLink="/faq">FAQ</a>
      <a class="navbar-item" routerLink="/pet-profile">Pet Profile</a>
      <a class="navbar-item" routerLink="/my-profile">My Profile</a>
    </ng-container>
  </div>
</header>
