<header class="navbar-container">
  <img src="/assets/logos/PETraxlogonameonly.png" alt="PETrax Logo" class="navbar-logo">
  <div class="menu-items">
    <a class="navbar-item" routerLink="/home">Home</a>
    <a class="navbar-item" routerLink="/calendar">Calendar</a>
    <a class="navbar-item" routerLink="/faq">FAQ</a>
    <a class="navbar-item" routerLink="/pet-profile">Pet Profile</a>
    <!-- More nav pages can be put here -->
    <!-- User Profile might go where home is, not sure yet -->
  </div>
</header>
