<header class="navbar-container">
  <img src="/assets/logos/PETraxlogonameonly.png" alt="PETrax Logo" class="navbar-logo">

  <div class="menu-items">
    <!-- For the homepage -->
    <a *ngIf="onHomePage" class="navbar-item" routerLink="/about">About</a>

    <!-- For all other pages -->
    <ng-container *ngIf="!onHomePage">
      <a class="navbar-item" routerLink="/welcome">Home</a>
      <a class="navbar-item" routerLink="/user-profile">My Profile</a>
      <a class="navbar-item" routerLink="/calendar">Calendar</a>
      <a class="navbar-item" routerLink="/faq">FAQ</a>
    </ng-container>
  </div>
</header>
