<p>care-professional works!</p>
<h2> My Care Professionals</h2>
<table class="table table-striped">
    <thead>
        <tr>
           <th>Care Type</th>
           <th>Name</th>
           <th>Business Name</th>
           <th>Website</th> 
           <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let professional of professionals">
            <td> {{professional.careType}} </td>
            <td> {{professional.name}} </td>
            <td> {{professional.businessName}} </td>
            <td> {{professional.website}} </td>
            <td> {{professional.phoneNumber}} </td>
        </tr>
    </tbody>
</table>
